#menu
{
    list-style: none;
    height: 90px;
    float: left;
    width: 1024px;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
    background-color: #7EB33A;
    background: rgba(49.4%, 70.2%, 22.7%, 0.9);
}

.col_1, .col_2, .col_3, .col_4, .col_5 .col_6
{
    display: inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.col_1
{
    width: 140px;
}

.col_4
{
    width: 560px;
}

.topnaviDescrProd
{
    text-align: justify;
    font-weight: lighter;
    padding: 15px 12.5px 10px 12.5px;
    float: left;
    width: 320px;
    height: 200px;
    font-size: small;
    font-style: italic;
}

.video-game-destaque
{
    position: relative;
    float: right;
    width: 160px;
    height: 228px;
    margin: 10px 15px 10px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #8A8A8A;
    font-size: 9px;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
}
.video-game-destaque:hover
{
    -webkit-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
}


.video-game-destaque img
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 150px;
    height: 218px;
}

.video-game-categoria
{
    position: relative;
    float: left;
    width: 42px;
    height: 51px;
    margin: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #8A8A8A;
    font-size: 9px;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
}
.video-game-categoria:hover
{
    -webkit-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
}


.video-game-categoria img
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 41px;
    height: 50px;
}

/* ==================================xbox360 ================================================== */
.li_xbox
{
    float: left;
    text-align: center;
    position: relative;
    padding: 4px 10px 4px 10px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;
    border: none;
    width: 88px;
}

.li_xbox:hover
{
    border: 1px solid #9ACD2E;
    padding: 4px 9px 4px 9px;
    background: #fff;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.li_xbox:hover a
{
    color: #9ACD2E;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.li_xbox a
{
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

.dropdown_6columns1
{
    z-index: 9999;
    margin: 4px auto;
    position: absolute;
    left: -9999px;
    text-align: left;
    padding: 0;
    border: 1px solid #777777;
    border-top: none;
    background: #FFFFFF;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    width: 1020px;
}


#menu li:hover .dropdown_6columns1
{
    left: -3px;
    top: auto;
}


/* ==================================Ps3 ================================================== */
.li_ps3
{
    float: left;
    text-align: center;
    position: relative;
    padding: 4px 10px 4px 10px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;
    border: none;
    width: 88px;
}

.li_ps3:hover
{
    border: 1px solid #EB0109;
    padding: 4px 9px 4px 9px;
    background: #fff;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.li_ps3:hover a
{
    color: #EB0109;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.li_ps3 a
{
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

/* ==================================================================================== */


.dropdown_6columns2
{
    z-index: 9999;
    margin: 4px auto;
    position: absolute;
    left: -9999px;
    text-align: left;
    padding: 0;
    border: 1px solid #777777;
    border-top: none;
    background: #fff;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    width: 1020px;
}


#menu li:hover .dropdown_6columns2
{
    left: -116px;
    top: auto;
}



/* ==================================Wii ================================================== */
.li_wii
{
    float: left;
    text-align: center;
    position: relative;
    padding: 4px 10px 4px 10px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;
    border: none;
    width: 88px;
}

.li_wii:hover
{
    border: 1px solid #26A3D0;
    padding: 4px 9px 4px 9px;
    background: #fff;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.li_wii:hover a
{
    color: #26A3D0;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.li_wii a
{
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

/* ==================================================================================== */

.dropdown_6columns3
{
    z-index: 9999;
    margin: 4px auto;
    position: absolute;
    left: -9999px;
    text-align: left;
    padding: 0;
    border: 1px solid #777777;
    border-top: none;
    background: #fff;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    width: 1020px;
}


#menu li:hover .dropdown_6columns3
{
    left: -228px;
    top: auto;
}


/* ==================================Wii U ================================================== */
.li_wiiU
{
    float: left;
    text-align: center;
    position: relative;
    padding: 4px 10px 4px 10px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;
    border: none;
    width: 88px;
}

.li_wiiU:hover
{
    border: 1px solid #008FBB;
    padding: 4px 9px 4px 9px;
    background: #fff;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.li_wiiU:hover a
{
    color: #008FBB;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.li_wiiU a
{
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

/* ==================================================================================== */
.dropdown_6columns4
{
    z-index: 9999;
    margin: 4px auto;
    position: absolute;
    left: -9999px;
    text-align: left;
    padding: 0;
    border: 1px solid #777777;
    border-top: none;
    background: #fff;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    width: 1020px;
}


#menu li:hover .dropdown_6columns4
{
    left: -340px;
    top: auto;
}



/* ==================================PC ================================================== */
.li_PC
{
    float: left;
    text-align: center;
    position: relative;
    padding: 4px 10px 4px 10px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;
    border: none;
    width: 88px;
}

.li_PC:hover
{
    border: 1px solid #000000;
    padding: 4px 9px 4px 9px;
    background: #fff;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.li_PC:hover a
{
    color: #000000;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.li_PC a
{
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

/* ==================================================================================== */

.dropdown_6columns5
{
    z-index: 9999;
    margin: 4px auto;
    position: absolute;
    left: -9999px;
    text-align: left;
    padding: 0;
    border: 1px solid #777777;
    border-top: none;
    background: #fff;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    width: 1020px;
}


#menu li:hover .dropdown_6columns5
{
    left: -452px;
    top: auto;
}

/* ==================================3DS ================================================== */
.li_3DS
{
    float: left;
    text-align: center;
    position: relative;
    padding: 4px 10px 4px 10px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;
    border: none;
    width: 88px;
}

.li_3DS:hover
{
    border: 1px solid #30B1C4;
    padding: 4px 9px 4px 9px;
    background: #fff;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.li_3DS:hover a
{
    color: #30B1C4;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.li_3DS a
{
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

/* ==================================================================================== */
.dropdown_6columns6
{
    z-index: 9999;
    margin: 4px auto;
    position: absolute;
    left: -9999px;
    text-align: left;
    padding: 0;
    border: 1px solid #777777;
    border-top: none;
    background: #fff;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    width: 1020px;
}


#menu li:hover .dropdown_6columns6
{
    left: -564px;
    top: auto;
}


/* ==================================PS Vita ================================================== */
.li_PSVita
{
    float: left;
    text-align: center;
    position: relative;
    padding: 4px 10px 4px 10px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;
    border: none;
    width: 88px;
}

.li_PSVita:hover
{
    border: 1px solid #000000;
    padding: 4px 9px 4px 9px;
    background: #fff;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.li_PSVita:hover a
{
    color: #000000;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.li_PSVita a
{
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

/* ==================================================================================== */
.dropdown_6columns7
{
    z-index: 9999;
    margin: 4px auto;
    position: absolute;
    left: -9999px;
    text-align: left;
    padding: 0;
    border: 1px solid #777777;
    border-top: none;
    background: #fff;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    width: 1020px;
}


#menu li:hover .dropdown_6columns7
{
    left: -676px;
    top: auto;
}


/* ==================================PSP ================================================== */
.li_PSP
{
    float: left;
    text-align: center;
    position: relative;
    padding: 4px 10px 4px 10px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;
    border: none;
    width: 88px;
}

.li_PSP:hover
{
    border: 1px solid #FEBF01;
    padding: 4px 9px 4px 9px;
    background: #fff;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.li_PSP:hover a
{
    color: #FEBF01;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.li_PSP a
{
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

.dropdown_6columns8
{
    z-index: 9999;
    margin: 4px auto;
    position: absolute;
    left: -9999px;
    text-align: left;
    padding: 0;
    border: 1px solid #777777;
    border-top: none;
    background: #fff;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    width: 1020px;
}


#menu li:hover .dropdown_6columns8
{
    left: -788px;
    top: auto;
}


/* ==================================================================================== */

.li_outros
{
    float: right;
    text-align: center;
    position: relative;
    padding: 4px 10px 4px 10px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;
    border: none;
    width: 88px;
}

.li_outros:hover
{
    border: 1px solid #9ACD2E;
    padding: 4px 9px 4px 9px;
    background: #fff;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.li_outros:hover a
{
    color: #9ACD2E;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.li_outros a
{
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}


.dropdown_6columnsOutros
{
    z-index: 9999;
    margin: 4px auto;
    position: absolute;
    left: -9999px;
    text-align: left;
    padding: 0;
    border: 1px solid #777777;
    border-top: none;
    background: #FFFFFF;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    width: 1020px;
}


#menu li:hover .dropdown_6columnsOutros
{
    left: -912px;
    top: auto;
}
