.modalBackground
{
   background-color: Aqua;
   top: 0px !important;
   left: 0px !important;
   position: absolute !important;
   z-index: 1 !important;
}
.modalPopup
{
   background-color: #fffddd;
   padding: 3px;
   z-index: 10001;
}

.botaobusca 
{ 

background: url('../img/layout/bkg_searchButton.png') no-repeat;
border: 1px solid #7A0500;
height: 35px;
width: 39px;
border-radius: 5px;
-webkit-border-radius: 5px;
float: left;
margin: 9px 0 0 8px;
cursor: pointer;
text-indent: -9999px;


 }

.busca
{
    width: 425px;
    height: 53px;
    float: right;
    clear: right;
    background: url('../img/layout/bkg_dark.png') no-repeat right top;
}

.textboxbusca
{
    width: 335px;
height: 39px;
line-height: 39px;
border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #C9C9C9;
margin: 5px 0 0 10px;
background: url('../img/layout/bkg_input.png') top left no-repeat;
padding: 0 10px 0 10px;
float: left;
}


.bannerTipoProduto
{
    margin: 10px;
    float: left;
    width: 310px;
    height: 107px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #8A8A8A;
    font-size: 9px;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
}

.bannerTipoProduto:hover
{
    -webkit-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
}

.containerImagemIndex
{
    margin: 10px;
    float: left;
    width: 170px;
    height: 270px;
    padding: 6px 6px 30px 6px;
    position: relative;
    margin: 8px;
    border: solid 1px #EEE;
    background: white;
}

.productImageWrapper
{
    padding: 10px;
    width: 146px;
    height: 180px;
    margin: auto;
    position: relative;
    background: white;
}

.productInfoWrapper
{
    padding: 5px;
    width: 146px;
    height: 50px;
    position: relative;
    background: white;
    text-align: center;
    text-transform: capitalize;
    margin-top: auto;
}

.preco_nome
{
    width: 125px;
    text-align: center;
}
.photoDet
{
    background: url('../img/layout/b_bg_packshot-pdp.jpg') no-repeat 9999em 9999em;
    height: 370px;
    width: 270px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 5px 0px 0px 3px;
}

.Detplatformxbox360
{
    height: 354px;
    left: 2px;
    top: 7px;
    width: 253px;
}

.imageHolder
{
    padding: 5px;
    margin: auto;
    display: block;
    width: 115px;
    height: 170px;
    position: relative;
}

.photo::after
{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.photo
{
    background: url('../img/layout/c_bg_packshot-productlist-blue.jpg') no-repeat 23px 900px;
    width: 125px;
    height: 164px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 5px 0px 0px 3px;
}



.caseplatform3DS
{
    background-position: 0 -489px;
    height: 105px;
}

.3DS
{
height: 102px;

}

.platform3DS
{
  height: 102px;
left: 5px;
top: 4px;
width: 109px;
}


.caseplatformpc
{
    background-position: 0 -772px;
}

.Detcaseplatformpcgames
{
    background-position: 0 -1721px;
}

.Detcaseplatformxbox360kinect
{
    background-position: 0 -2479px;
}

.caseplatformxbox360kinect
{
    background-position: 0 -1112px;
}

.caseplatformxbox360
{
    background-position: 0 -1px;
}

.caseplatformpsvita
{
    background-position: 0 -1549px;
}

.platformPSVita
{

height: 116px;
position: absolute;
right: 22px;
top: 7px;
width: 90px;
}

.caseplatformWii
{
    background-position: 0 -319px;
}

.caseplatformPSP
{
    background-position: 0 -601px;
}

.PSP
{

}

.platformPSP
{
 height: 156px;
position: absolute;
right: 22px;
top: 7px;
width: 90px;
}


.Detcaseplatformwii
{
    background-position: 0 -714px;
}

.Detcaseplatformpsvita
{
    background-position: 0 -3441px;
     padding: 12px 0px 0px 32px;
}

.Detplatformpsvita
{
 height: 260px;

}

.Detcaseplatform3DS
{
    background-position: 0 -1088px;
    height: 240px;
     padding: 8px 0px 0px 5px;
}

.Detplatform3DS
{

}

.platformxbox360
{
    height: 157px;
    left: 3px;
    top: 5px;
    width: 112px;
}


.Detplatformpsp
{
 height: 352px;
 width: 203px;
}
.Detcaseplatformpsp
{
    background-position: 0 -1340px;
   padding: 12px 0px 0px 30px;
}



.Detplatformps3
{
    height: 291px;
    left: 3px;
    top: 28px;
    width: 252px;
}
.Detcaseplatformps3
{
    background-position: 0 -379px;
    height: 300px;
    padding: 27px 0px 0px 4px;
}

.ps3
{
    height: 146px;
}

.caseplatformps3
{
    background-position: 0 -171px;
    height: 135px;
    padding: 13px 0px 0px 4px;
}

.caseconsole
{
  
    
    
}

.platformps3
{
    height: 128px;
    left: 3px;
    top: 5px;
    width: 111px;
}

#Telefone
{
    display: block;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 0;
    float: left;
}


.gameinfo ul {
float: left;
width: 364px;
padding: 0px;
margin: 1px 0px 0px 0px;
height: auto;
list-style: none;
}
.gameinfo ul li
{
    float: left;
    font-size: 11px;
    width: 85px;
    height: auto;
    padding: 0px;
    margin: 0px 0px 5px 5px;
    color: #999;
    line-height: 120%;
    list-style-type: none;
}
.gameinfo ul li span {
color: #505050;
width: 85px;
float: left;
clear: left;
}
.grid_15 {
width: 370px;
display: inline;
float: left;

}
.nograd {
background: white;
border-top: 1px dashed #DDD;
margin-bottom: 10px;
}

.platform
{
    font-size: 32px;
    color: #202020;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 36px;
    background: white url('../img/layout/corner.png') no-repeat 0px 0px;
    line-height: 140%;
}

.cs_xbox360
{
    background: white url('../img/layout/corner_xbox360.png') no-repeat 0px 0px;
}

.cs_xbox360_platformicon
{
    background: url('../img/iconePlataforma/icon_Xbox_360.gif') no-repeat 0px 0px;
}

.cs_ps3
{
    background: white url('../img/layout/corner_ps3.png') no-repeat 0px 0px;
}

.cs_ps3_platformicon
{
    background: url('../img/iconePlataforma/icon_ps3.gif') no-repeat 0px 0px;
}

.platformicon
{
    width: 90px;
    height: 40px;
    margin: 4px 0px 0px 0px;
    overflow: visible;
    float: left;
}

.detalheimagem
{
    width: 190px;
    height: 240px;
    margin: 5px 7px 0 7px;
    overflow: hidden;
    padding: 8px;
    display: block;
    cursor: pointer;
    float: left;
}


.product_art
{
    margin-bottom: 4px;
    margin-top: 8px;
    max-width: 69px;
}

.grid_product_art
{
    margin-bottom: 4px;
    margin-top: 8px;
    max-width: 38px;
    max-height: 38px;
}

.boxart
{
    float: left;
    width: 250px;
    height: auto;
    padding: 0px;
    position: relative;
    z-index: 4;
    text-align: center;
    margin-bottom: 10px;
}

.boxart Image
{
    margin: 0px auto;
    max-width: 190px;
}

.product_esrb
{
    float: left;
    margin-right: 10px;
    max-height: 49px;
}

.alpha {
margin-left: 0;
}

.grid_2 {
width: 170px;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24 {
display: inline;
float: left;
margin-left: 5px;
margin-right: 5px;
}

.product_info p.publisher
{
    margin-top: -8px;
    margin-bottom: 8px;
}

div.extras
{
    margin-bottom: 8px;
}

.product .purchase_info h4
{
    font-size: 16px;
    text-align: right;
    padding-right: 8px;
    font-weight: normal;
    padding-top: 8px;
}

.product_info h3
{
    margin-top: 8px;
    margin-bottom: 8px;
}

.product_info ul
{
    float: left;
    width: 422px;
}

.product_info ul li
{
    padding-left: 18px;
    
}

.product_info ul li strong
{
    color: #000;
}

.product p strong
{
    color: #000;
}

.product p
{
    font-size: 14px;
}

.product h3 strong
{
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.product
{
    margin-bottom: 14px;
    clear: both;
    overflow: hidden;
    border-top: 1px solid #d3d4d4;
    padding-top: 14px;
}

.purchase_info .pricing
{
    font-size: 34px;
    color: #000;
    font-weight: bold;
    text-align: right;
    padding-right: 8px;
    line-height: 95%;
    margin-bottom: 8px;
}

.purchase_info .pricing em
{
    font-size: 22px;
    color: #c21417;
    text-decoration: line-through;
    font-style: normal;
    line-height: 100%;
    margin-right: 4px;
}
