

/* =Skitter styles
----------------------------------------------- */
.imgholder
{
    margin: auto;
    display: block;
    padding-bottom: 26px;
}


.border-skitter
{
    padding: 5px;
    width:980px;
    height: 336px;
    background: #333;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color:#999999;
	background-color:#FAFAFA;
	border:1px solid #D8D9DE;
	
}

.box_skitter
{
    
    position: relative;
    width: 980px;
    height: 336px;
    text-align: center;
}
.box_skitter img
{
    max-width: none;
}
/* Tip for stildv */
.box_skitter ul
{
    display: none;
}
.box_skitter .container_skitter
{
    overflow: hidden;
    position: relative;
}
.box_skitter .image
{
    overflow: hidden;
}
.box_skitter .image img
{
    display: none;
}

/* =Box clone
-------------------------------------------------------------- */
.box_skitter .box_clone
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    overflow: hidden;
    display: none;
    z-index: 20;
}
.box_skitter .box_clone img
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

/* =Navigation
-------------------------------------------------------------- */
.box_skitter .prev_button
{
    position: absolute;
    top: 50%;
    left: 35px;
    z-index: 100;
    width: 42px;
    height: 42px;
    overflow: hidden;
    text-indent: -9999em;
    margin-top: -25px;
    background: url('../img/layout/prev.png') no-repeat left top;
}
.box_skitter .next_button
{
    position: absolute;
    top: 50%;
    right: 35px;
    z-index: 100;
    width: 42px;
    height: 42px;
    overflow: hidden;
    text-indent: -9999em;
    margin-top: -25px;
    background: url('../img/layout/next.png') no-repeat left top;
}

/* =Dots
-------------------------------------------------------------- */
.box_skitter .info_slide_dots
{
    position: absolute;
    bottom: -40px;
    z-index: 151;
    padding: 5px 0 5px 5px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.box_skitter .info_slide_dots .image_number
{
    background: #333;
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    text-indent: -9999em;
    overflow: hidden;
}
.box_skitter .info_slide_dots .image_number_select
{
    background: #cc0000;
    float: left;
    margin: 0 5px 0 0;
}

/* =Label
-------------------------------------------------------------- */
.box_skitter .label_skitter
{
    z-index: 150;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: none;
}
.box_skitter .label_skitter
{
    z-index: 150;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #fff;
    display: none;
    opacity: 0.8;
    background: #000;
}
.box_skitter .label_skitter p
{
    padding: 10px;
    margin: 0;
    font: normal 22px arial,tahoma;
    letter-spacing: -1px;
}
.box_skitter .info_slide *
{
    font-family: Consolas,arial,tahoma !important;
}



-------------------------------------------------------------- */
.box_skitter_large
{
    width: 980px;
    height: 336px;
    top: 0px;
    left: 0px;
}
